 body{font-family: 'Open Sans', sans-serif;
margin: 0%;
}
 .container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 130px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-headline{
  font-weight: 900;
  font-size: 55px;
}
.description-1{
  margin-bottom: 50px;
}
  .link-button{
      color: white;
      text-decoration: none;
      background-color: rgb(240, 94, 78);
      padding: 10px 40px;
      border-radius: 5px;
      margin-top: 30px;
    }

    .headline-2{
      text-align: center;
      font-weight: 800;
      font-size: 50px;
    }
    .description-2{
      text-align: center;
      color: rgb(82, 75, 75);
      font-size: 20px;
      margin-bottom: 50px;
    }

    
    

    .container2{
      text-align: center;
      margin-top: 20px;
    }
    .btn{
      border:  4px solid #ffffff;
      border-radius: 5px;
      padding: 30px 25px 30px 25px;
      font-size: 30px;
      margin: 5px 5px 5px 5px;
      color: rgb(68, 65, 65);
      font-weight: bold;
      transition: 0.1s;
      
    }
    .btn:hover{
      border: 4px solid rgb(238, 139, 129);
      color: rgb(113, 22, 22);
      background-color: rgb(215, 198, 198);
    }

  .main{
    width: 50%;
    height: relative;
    position: relative;
    left: 22%;
    background: white;
    padding: 40px 50px 40px 50px ;
    border-radius: 10px;
  }
  .main .input-box {
    position: relative;
  }
  .main .input-box input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: rgb(45, 43, 43);
    background: #ffffff;
    border-radius: 0px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid silver;
  }
  .main .input-box label{
    position: absolute;
    top: 0;
    left: 40%;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    transition: 0.5s;
  }
.btn-2{
  margin-left: 40%;
}

.flex{
  display: flex;
  margin: 10px 40px 10px 40px;
}

.box1{
  margin: 30px 10px 30px 30px;
  padding: 30px 10px 30px 20px;
  background-color: aliceblue;
  border-radius: 10px;
}

.box2{
  margin: 30px 10px 30px 10px;
  padding: 30px 10px 30px 20px;
  background-color: rgb(235, 205, 210);
  border-radius: 10px;
}
.box3{
  margin: 30px 10px 30px 10px;
  padding: 30px 10px 30px 20px;
  background-color: rgb(238, 238, 200);
  border-radius: 10px;
}

.h1-3-box{
  font-size: xx-large;
      font-weight: bold;
}
.p-3-box{font-weight: 400;
  font-size: large;

}


.about{
  text-align: center;
    font-weight: 900;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-color: #d64e44;
    position: relative;
    left: 28%;
    width: 45%;
    

  }
    span{
      color: #d64e44;
    }
    .picture{
      display: flex;
      width: 90%;
      align-items: flex-start;
    }
    
    
    .our-headline{
    padding: 20px 30px 20px 40px;
    text-align: justify;
    }
    .about-h{
      font-size: xx-large;
      font-weight: bold;
    }
    .about-p{
      font-weight: 400;
      font-size: x-large;
    }
    .about-img{
      margin: 20px 10px 20px 10px;
    }

    .last-p-tag{
      text-align: justify;
      padding: 0 140px 40px 140px;
    }


.box{
  position: relative;
  left: 30%;
  bottom: 20%;
  width: 500px;
  padding: 85px;
  background: #f1dd9c;
  border-radius: 0px;
  margin-bottom: 100px;

}
input{
  position: relative;
  display: inline
  font-size: 20px;
  box-sizing: border-box;
  transition: .5s
}
input[type="text"]
{
  background: #e7e7e7;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  padding: 0 0 0 20px;
}
input[type="submit"]
{
  left: -5px;
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #d64e44;
  color: #ffffff;
  font-weight: 500;
}


.footer-background{
  text-align: center;
  background-color: rgb(24, 18, 18);
  color: #ffffff;
  padding-top: 30px;
}

.footer-headline{
  font-family: 'Arima', cursive;
  font-style: italic;
  color: rgb(134, 26, 26);
  font-weight: 1200;
}

